<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Posts | Restful API</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <h1>Posts</h1>
    <div class="main-div">
      <% for(post of posts) {%>
      <div class="post-div">
        <div class="single-postdiv">
          <h2 class="user">@<%=post.username%></h2>
          <p class="content"><%=post.content%></p>
          <a href="http://localhost:8080/posts/<%=post.id%>">See in detail</a>
          <a href="http://localhost:8080/posts/<%=post.id%>/edit">Edit post</a>
          <br />
          <form action="posts/<%=post.id%>?_method=DELETE" method="post">
            <button>Delete post</button>
          </form>
        </div>
      </div>
      <% } %>
    </div>
    <br />
    <br />
    <a class="new-a" href="http://localhost:8080/posts/new">Create new post</a>
  </body>
</html>
